.title_1{
    font-size: var(--font-1);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-1);
    color: var(--color-grey-1);
}
.title_2{
    font-size: var(--font-2);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-2);
    color: var(--color-grey-1);
}
.title_3{
    font-size: var(--font-2);
    font-weight: var(--font-weight-2);
    line-height: var(--line-height-2);
    color: var(--color-grey-2);
}
.text_1{
    font-size: var(--font-3);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-3);
    color: var(--color-grey-1);
}
.text_2{
    font-size: var(--font-4);
    font-weight: var(--font-weight-2);
    line-height: var(--line-height-4);
    color: var(--color-grey-2);
}
a{
    text-decoration: none;
    color: var(--font-text-2)
}